form{
    width: 50%;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(34, 33, 33);
    float: left;
    
    color: aliceblue;
    text-align: center;
}
main {
    margin-top: 2%;
    margin-bottom: 5%;
}